<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidnerds.tools.Messages">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <application>
	<receiver android:name="MessagesReceiver">
		<intent-filter>  
			<action android:name="android.provider.Telephony.SMS_RECEIVED" />
		</intent-filter>  
	</receiver>
	
	<activity android:name=".Conversations" android:label="@string/conversations"></activity>
	<activity android:name=".CreateMessage" android:label="@string/createmessage">
		<intent-filter android:priority="100">
			<action android:name="android.intent.action.VIEW" />
			<action android:name="android.intent.action.SENDTO" />
			<category android:name="android.intent.category.DEFAULT" />
			<data android:scheme="sms" />
		</intent-filter>
	</activity>
	<activity android:name=".Messages" android:label="Messages" android:icon="@drawable/icon">
		<intent-filter>
                	<action android:name="android.intent.action.MAIN" />
                	<category android:name="android.intent.category.LAUNCHER" />
		</intent-filter>
        </activity>
    </application>
</manifest> 
