<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidnerds.tools.RemoteLogger">
    <application>
        <activity android:name=".RemoteLogger" android:label="RemoteLogger">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
		<action android:name=".LogProcessor" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
	<service android:name=".LogProcessor" android:process=":remote">
		<intent-filter>
			<action android:name="com.androidnerds.tools.RemoteLogger.LogProcessorInterface" />
			<action android:name="com.androidnerds.tools.RemoteLogger.LOG_PROCESSOR" />
		</intent-filter>
	</service>
    </application>
</manifest> 
