<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidnerds.tools.Glance">
    <application>
        <activity android:name=".Glance" android:label="Glance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest> 
